@import url(./reset.css);

body, input, button {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.m-t-auto {
  margin-top: auto;
}

.m-l-auto {
  margin-left: auto;
}
